$color-primary: #ED254E;
$color-secondary: #F4FFFD;
$color-option-one: #F9DC5C;
$color-option-two: #011936;
 
$color-primary-text: #FFFFFF;
$color-secondary-text: #000000;
$color-option-one-text: #000000;
$color-option-two-text: #FFFFFF;

$color-table-one: #FFFFFF;
$color-table-two: #F2F2F2;
$color-table-border: #E9E9E9;

$animation-speed: 0.3s;